/* Reset some default styles */
body, h1, h2, p, ul, table {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    min-height: 100vh; /* Ensure body takes full height */
    display: flex;
    flex-direction: column;
}

header {
    background: #e63946;
    color: white;
    padding: 20px 0;
    display: flex;
    align-items: center; /* Vertically align logo, title, and nav */
    justify-content: space-between; /* Space between logo and title */
    padding-left: 20px; /* Left padding to ensure space between logo and edge */
}

header .logo img {
    width: 150px; /* Set a fixed width for the logo */
    height: auto; /* Maintain aspect ratio */
}

header h1 {
    margin: 0;
    flex-grow: 1; /* Allow h1 to take up available space and center it */
    text-align: center; /* Center the title horizontally */
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffd60a; /* Change color on hover */
}

main {
    padding: 20px;
}

#race-container {
    margin-top: 20px;
}

.race {
    background: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.race h2 {
    margin-bottom: 10px;
    color: #e63946;
}

.race p {
    margin: 5px 0;
}

/* Loading state message */
#race-container p {
    font-size: 1.2em;
    text-align: center;
    color: #e63946;
}
.fetch-btn {
    background:  #e63946;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}
.fetch-btn:hover {
    background:  #e63946;
}

/* Footer styles remain unchanged */
footer {
    background-color: #e63946;
    color: #fff;
    padding: 40px 20px;
    font-size: 14px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .contact-info,
  .social-media,
  .legal-links {
    flex-basis: 30%;
    text-align: center;
  }
  
  .contact-info h4,
  .social-media h4,
  .legal-links h4 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .contact-info p,
  .contact-info a {
    margin-bottom: 10px;
  }
  
  .social-icons {
    display: block;
    justify-content: flex-start;
  }
  
  .social-icon {
    margin-right: 15px;
  }
  
  .social-icon img {
    max-height: 24px;
  }
  
  .legal-links a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
  }
  
  .legal-links a:hover {
    text-decoration: underline;
  }
  
  .copyright {
    text-align: center;
    margin-top: 40px;
  }
  
  
